.shimmer{
    -webkit-animation-name: shimmer;
            animation-name: shimmer;
    -webkit-animation-duration: 2000ms;
            animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes shimmer {
    0%   {opacity:0.6}
    25%  {opacity:0.7}
    75%  {opacity:1}
    100% {opacity:0.6}
}

@keyframes shimmer {
    0%   {opacity:0.6}
    25%  {opacity:0.7}
    75%  {opacity:1}
    100% {opacity:0.6}
}