:root {
	--main-bg-color: #121117;
	--secondary-bg-color: #040404ba;
	--main-color: #ffffff;

	--green: #18fe92;
	--red: #fc155b;
	--blue: #5e89fa;
}

.green {
    color: var(--green);
}
.red {
    color: var(--red);
}
.blue {
    color: var(--blue);
}

body{
	position: relative;
	background: var(--main-bg-color);
	height: 100vh;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
	font-family: 'Kodchasan', sans-serif;
	color:var(--main-color);
	font-weight: 300;
    margin: 5px 0px;
}


#home-panel{
	padding:50px;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
}
