:root {
	--main-bg-color: #040404;
	--secondary-bg-color: #040404ba;
	--main-color: #ffffff;
}

body{
	position: relative;
	background: var(--main-bg-color);
	height: 100vh;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
	font-family: 'Raleway', sans-serif;
	color:var(--main-color);
	font-weight: 300;
    margin: 5px 0px;
}

#home-panel{
	padding:50px;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
}

.home-panel__primary--content{
	background: var(--secondary-bg-color);
	display: inline-block;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

#home-panel:before{
	content: "";
    position: absolute;
    top: -20px;
    bottom: -20px;
    width: 5px;
    left: 50%;
    background: #ffffff;
    opacity: 0.6;
    -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
            transform: rotate(12deg);
}