body, html {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html {
    font-family: 'Kodchasan', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body{
	position: relative;
	background: var(--main-bg-color);
    margin: 0;
    padding-bottom: 475px;
}

.cv{
    text-align: left;
}

#home-panel{
    position: relative;
}

#waves,
#waves canvas{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0.6;
} 

.multi-line {
    display: block;
    height: 1px;
    width: 40px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    background: var(--red);
    -webkit-transform: translateX(-50%);
    	-ms-transform: translateX(-50%);
    		transform: translateX(-50%);
}

.multi-line:before,
.multi-line:after {
	content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: var(--green);
    left: -40px;
}
.multi-line:after{
	background: var(--blue);
    left: auto;
    right: -40px;
}

.exp-list {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    list-style-type: none;
    text-align: right;
    padding-left: 0px;
}

.exp-list li{
	background: var(--link);
	color: var(--main-color);
	display: inline-block;
	width: calc(100% / 2 - 20px);
    margin: 0px 10px 15px;
    padding: 5px 10px;
    position: relative;
	opacity: 0;
    -webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
    		transform: translateY(30px);
}

.exp-list li.grid-load{
	opacity: 1;
    -webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
    		transform: translateY(0px);
}

.exp-list li span {
    position: absolute;
    color: var(--main-color);
    line-height: 35px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    vertical-align: middle;
    margin:0px;
    padding-left: 10px;
    padding-right: 10px;
    background: #333333;
    min-width: 80px;
    text-align: center;
}

footer.section{
    z-index: 0;
    border-bottom: 0px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}
footer .main i{
    font-size: 60px;
    margin: 0px;
}

.fab{
    font-size: 26px;
    margin: 20px 10px;
}

.home-arrow {
    mix-blend-mode: difference;
    display: inline-block;
    position: fixed;
    top: 50px;
    left: 0px;
    font-size: 40px;
}

.home-arrow a {
    padding: 0px 25px 0px 60px;
}

.home-arrow a:hover {
    color: #121117;
    background: #ffffff;
    text-decoration: none;
}