body{
    padding-bottom: 385px;
}

.section{
    padding: 45px 0px;
}

.home-arrow{
    mix-blend-mode: normal;
    top: 0;
    display: block;
    width: 100%;
    line-height: 20px;
}

.home-arrow a,
.home-arrow a:hover{
    padding: 0px 0px 0px 2px;
    line-height: 10px;
    font-size: 20px;
    width: 100%;
    display: block;
    color: var(--main-bg-color);
    background: var(--main-color);
    opacity: 1;
}

.home-arrow a i {
    font-size: 20px;
}

h1{
    margin-bottom: 15px;
}

h2{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.key-feature {
    display: none;
}

.exp-list li{
    width:100%;
    margin: 0px 0px 15px 0px;
}

.content-row {
    margin-bottom: 30px;
}

.sagittarius img{
    width: 150px;
}

.mission img{
    width: 80px;
}