:root {
	--main-bg-color: #121117;
	--secondary-bg-color: #040404ba;
    --main-color: #ffffff;
    --link:#bdbdbd;

	--custom-ease-1: cubic-bezier(0.475,0.425,0,0.995);
    --primary-ease: var(--custom-ease-1);

	--green: #18fe92;
	--red: #fc155b;
    --blue: #5e89fa;
}


.green {
    color: var(--green);
}
.red {
    color: var(--red);
}
.blue {
    color: var(--blue);
}