h1,h2,h3,h4,h5,h6,p{
	font-family: 'Kodchasan', sans-serif;
	color:var(--main-color);
	font-weight: 300;
    margin: 5px 0px;
    position: relative;
}

h1{
    margin-bottom: 23px;
}

h2{
    padding-bottom: 10px;
    margin-bottom: 40px;
}

a {
    position: relative;
    padding: 0px 2px;
    color: var(--main-color);
    -webkit-transition: opacity .45s var(--primary-ease), transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease);
         -o-transition: opacity .45s var(--primary-ease), transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease);
            transition: opacity .45s var(--primary-ease), transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease);
}

a i{
    font-size: 11px;
    margin-left: 15px;
    -webkit-transition: transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease);
         -o-transition: transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease);
            transition: transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease);
}

a:hover{
    color: var(--main-color);
    text-decoration: none;
    opacity: 0.75;
}

a:hover i{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}