h1,h2,h3,h4,h5,h6,p,i,span{
	font-family: 'Kodchasan', sans-serif;
	color:var(--main-color);
	font-weight: 300;
    margin: 5px 0px;
    position: relative;
}

h1,h2,h3,h4,h5,h6,p,i,a,li{
    -webkit-transition: opacity .45s var(--primary-ease), transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease),-ms-transform .95s var(--primary-ease);
         -o-transition: opacity .45s var(--primary-ease), transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease),-ms-transform .95s var(--primary-ease);
            transition: opacity .45s var(--primary-ease), transform .95s var(--primary-ease),-webkit-transform .95s var(--primary-ease),-ms-transform .95s var(--primary-ease);
}

h1{
    margin-bottom: 23px;
}

h2{
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.note {
    position: relative;
    font-size: 14px;
    margin: 0px;
    display: inline-block;
    margin-bottom: 50px;
}

.note:before,
.note:after{
    content: "";
    position: absolute;
    height: 2px;
    background:  var(--green);
    width: 30px;
    left: -40px;
    top: 50%;
    border-radius: 6px;
}

.note:after{
    left: auto;
    right: -40px;
    background: var(--blue);
}

.key-feature i {
    font-size: 60px;
    opacity:0.6;
}

.key-feature p{
    opacity:0.6;
}

a {
    position: relative;
    padding: 0px 2px;
    color: var(--link);
}

a i{
    font-size: 11px;
    margin-left: 15px;
}

a:hover{
    color: var(--link); 
    text-decoration: none;
    opacity: 0.8;
}

a:hover i{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}


.plus{
    position: relative;
    font-size: 60px;
    top: 10px;
    left: 5px;
}

.odometer * {
    font-size: 100px;
}